/* step two, set up up global CSS variables */
@import url('https://fonts.googleapis.com/css?family=Oswald|Rambla|Staatliches&display=swap');

body{
    margin: 0;
    padding: 0;
}

p {
    margin-right: 25px;
    font-size: 22px;
    text-decoration:  overline;
}

:root{
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-border: #ffffff34;
    --font-staat: 'Staatliches', cursive;
    --font-os:  'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}
.d-flex {
    margin-top: 0%;
}

/* global classes */
.font-staat{
    font: normal 400 18px var(--font-staat);
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}

.font-size-40{
    font-size: 40px;
}
.font-size-34{
    font-size: 34px;
}
.font-size-27{
    font-size: 27px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-16{
    font-size: 16px;
}

.bgcolor-primary{
    background-color: var(--color-primary);
}

/* #global classes */
 /* step four, add header CSS */
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1;
    transition: left .5s ease;
}

#header nav{
    height: 100vh;
}
#header .site-title .navbar-brand{
    letter-spacing: 20px;
    color: var(--color-secondary);
}

#header .nav-link{
    margin: .7rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-transform: uppercase;
}

#header .nav-link:hover{
    color: var(--color-secondary) !important;
}

#header .toggle-button{
    background: none;
    color: var(--color-primary);
    position: fixed;
    top: 25px;
    right: 20px;
    border: 1px solid var(--color-border);
}

.toggle-left{
    left: 0 !important;
    width: 1000px !important;
}

/* site-main */


.site-banner .banner-area{
   
    background:url(./assets/szabolcs-toth-CXkxaB5IkDg-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
    height: 100vh; 
    position: relative;
}

.site-banner .banner-area .author{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-banner .banner-area .author .author-img{
    width: 250px;
    height: 250px;
    border-radius: 60%;
    border-style:ridge;
    border-width: 10px;
    margin: auto;
    background: url(./assets/profile\ image.jpg) no-repeat;
    background-size: 100%;
    background-position: 40% 0;
}


@media screen and (min-width: 768px){
    .toggle-button{
        display: none;
    }
    #header{
        z-index:0;
    }
}
.HTML-CSS-JS-B {
    margin: 10px 15px 15px 10px;
}
.vs-code {
    margin: 5px 2px 15px ;
}
.git {
    margin: 5px 5px;
}
.github {
    margin: 5px 10px;
}
/* #site-main */
/* Project cards */

.container {
    background-color: rgb(51, 46, 43);
}
a.carousel-control-prev, a.carousel-control-next{
    height: 26%;
    top: 33%;
    width: 86px;
    
    
    }